html,body{
    width: 100%;
    height: 100%;
}
body{
    font-size: .12rem;
}
#app{
    width: 100%;
    height: 100%;
    .wrap{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        .content{
            flex:1;
            display: flex;
            flex-direction: column;
             header{
                width: 100%;
                height: .4rem;
                line-height: .4rem;
                position: fixed;
                top:0;
                z-index: 99;
                div{
                    width: 88%;
                    padding:0 .08rem;
                    position: relative;
                    input{
                        width: 100%;
                        height: .26rem;
                        background: #ffffff;
                        padding-left: .22rem;
                        border-radius: .15rem;
                        border: none;
                    }
                    ::-webkit-input-placeholder{
                        color: #a1a1a1;
                        font-size: .11rem;
                    }
                    i{
                        position: absolute;
                        color: #8e8e8e;
                        font-size: .14rem;
                        left: .15rem;
                        top:.15rem;
                    }
                }
                span{
                    position: absolute;
                    top:0;
                    right: .1rem;
                    font-size: .1rem;
                    color: #edd9de;
                }
            }
            .bg{
                background: #ffffff;
                border-bottom: 1px solid #f1f1f1;
                div{
                    input{
                        background: #dddddd;

                    }
                }
            }
            section{
                flex:1;
                background: #f5f5f5;
                overflow: auto;
                overflow-y: scroll;
                .banner{
                    width: 100%;
                    height: 1.4rem;
                    img{
                        width: 100%;
                    }
                }
                .newpeople{
                    width: 100%;
                    img{
                        width: 100%;
                    }
                }
                .navlistbox{
                    height: 1.3rem;
                    .navlist{
                        height: 1.3rem;
                        display: flex;
                        flex-wrap: wrap;
                        li{
                            width: 20%;
                            text-align: center;
                            img{
                                width: 46%;
                            }
                            p{
                                color: #2e282a;
                                font-size: .11rem;
                                padding-top: .04rem;
                                padding-bottom: .09rem;
                            }
                        }
                    }
                }
                .tips{
                    height: .37rem;
                    padding: 0.05rem .08rem;
                    p{
                        width: 100%;
                        height: .26rem;
                        background: #ffffff;
                        border-radius: .15rem;
                        padding: 0 .08rem;
                        line-height: .26rem;
                        font-size: .1rem;
                        color: #656565;
                        b{
                            color: #1e1e1e;
                        }
                        span{
                            margin: 0 .05rem;
                            color: #f44738;
                        }
                        .red{
                            color: #e7cec8;
                            background: #ef1609;
                            display: inline-block;
                            width: .28rem;
                            height: .13rem;
                            line-height: .13rem;
                            text-align: center;
                            margin: 0;
                        }
                        .grey{
                            color: #a2a2a2;
                        }                
                    }
                }
                .miaosha{
                    .m_top{
                        height: .3rem;
                        line-height: .3rem;
                        background: #ffffff;
                        position: relative;
                        padding-left: .04rem;
                        color: #020202;
                        b{
                            i{
                                color: #cf4d55;
                                padding: 0 .04rem;
                            }
                            color: #e71137;
                            font-size: .14rem;
                        }
                    .time{
                            display: inline-block;
                            height: .11rem;
                            width: .12rem;
                            background: #0f0f0f;
                            line-height: .11rem;
                            color: #bbbbbb;
                            font-size: .1rem;
                            margin: 0 .02rem;
                        }
                        .right{
                            position: absolute;
                            right: .1rem;
                            color: #e15f71;
                            font-size: .11rem;
                            i{
                                margin-left: .1rem;
                            }
                        }
                    }
                    #wrapper{
                            width: 100%;
                            overflow: hidden;
                            #scroller{
                                width: 800px;
                                .m_main{
                                    display: flex;
                                    padding-top: .05rem;
                                .m_sub{
                                                width: 25%;
                                                margin: 0 2%;
                                                text-align: center;
                                                img{
                                                    width: 100%;
                                                }
                                                p{
                                                    color: #d41707;
                                                    font-size: .11rem;
                                                    padding-top: .09rem;
                                                    padding-bottom: .03rem;
                                                }
                                                span{
                                                    color: #b3b3b3;
                                                    font-size: .1rem;
                                                    text-decoration: line-through;
                                                }
                                            }
                                    
                                }
                            }

                        }
                    
                }
                .classify{
                    padding: .05rem;
                    background: #ffffff;
                    &>img{
                        width: 100%;
                        border-radius: .15rem;
                    }
                    .classify_find{
                        display: flex;
                        flex-wrap: wrap;
                            .child{
                                width: 50%;
                                border-right: 1px solid #fafafa;
                                border-bottom: 1px solid #fafafa;
                                h3{
                                    padding-top: .1rem;
                                    img{
                                        width: 50%;
                                        padding-left: .1rem;
                                    }
                                }
                                p{
                                    color: #686868;
                                    font-size: .1rem;
                                    padding-left: .1rem;
                                }
                                .imgs{
                                    display: flex; 
                                    padding: .1rem;
                                    p{
                                    flex: 1;
                                    padding: .1rem;
                                    img{
                                        width: 100%;
                                    }
                                    }
                                }
                            }
                        }

                    }
                    .classify_find2{
                        .child{
                            h3{
                                padding-left: .1rem;
                                padding-bottom: .1rem;
                            }
                        }
                        .classify_find_box{
                            display: flex;
                            .classify_find_sub{
                                flex:1;
                                border-right: 1px solid #fafafa;
                                border-bottom: 1px solid #fafafa;
                                h3{
                                    padding-top: .1rem;
                                    padding-left: .1rem;
                                    padding-bottom: .1rem;
                                }
                                p{
                                    color: #686868;
                                    font-size: .1rem;
                                    padding-left: .1rem;
                                }
                                .imgs{
                                    padding: .1rem;
                                    img{
                                        width: 100%;
                                    }
                                }
                            }
                        }
                        .classify-banner{
                            width: 100%;
                            height: .78rem;
                            img{
                                width: 100%;
                            }
                        }
                    }
                    .longImg{
                    
                        img{
                            width: 100%;
                        }
                }
                .main{
                    display: flex;
                    flex-wrap: wrap;
                    dl{
                        width: 48%;
                        display: inline-block;
                        margin: 1%;
                        background: #ffffff;
                        dt{
                            width: 100%;
                            img{
                                width: 100%;
                            }
                        }
                        dd{
                            padding: .04rem;
                            p{
                                line-height: .2rem;
                            }
                            .tit{
                                color: #525254;
                            }
                            .price{
                                color: #f12424;
                            }
                            .bottom{
                                font-size: .1rem;
                                color: #b1b1b1;
                                position: relative;
                                span{
                                    position: absolute;
                                    width: .5rem;
                                    height: .26rem;
                                    border: 1px solid #e6e6e6;
                                    line-height: .26rem;
                                    text-align: center;
                                    right: .05rem;
                                    bottom: 0rem;
                                }
                            }
                        }
                    }
                }
            }
        }
         footer{
            height: .36rem;;
            border-top: 1px solid #eef1f1;
            ul{
                display: flex;
                li{
                    flex:1;
                    text-align: center;
                    padding-top: .04rem;
                    i{
                    
                        color: #6d7079;
                    }
                    p{
                        color: #777777;
                        font-size: .1rem;
                        padding-top: .02rem;
                    }
                }
                .active1{
                    i{
                        color: #f13030;
                    }
                    p{
                        color: #f34344;
                    }
                }
            }
        }
    }
}
