html, body {
  width: 100%;
  height: 100%; }

body {
  font-size: .12rem; }

#app {
  width: 100%;
  height: 100%; }
  #app .wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; }
    #app .wrap .content {
      flex: 1;
      display: flex;
      flex-direction: column; }
      #app .wrap .content header {
        width: 100%;
        height: .4rem;
        line-height: .4rem;
        position: fixed;
        top: 0;
        z-index: 99; }
        #app .wrap .content header div {
          width: 88%;
          padding: 0 .08rem;
          position: relative; }
          #app .wrap .content header div input {
            width: 100%;
            height: .26rem;
            background: #ffffff;
            padding-left: .22rem;
            border-radius: .15rem;
            border: none; }
          #app .wrap .content header div ::-webkit-input-placeholder {
            color: #a1a1a1;
            font-size: .11rem; }
          #app .wrap .content header div i {
            position: absolute;
            color: #8e8e8e;
            font-size: .14rem;
            left: .15rem;
            top: .15rem; }
        #app .wrap .content header span {
          position: absolute;
          top: 0;
          right: .1rem;
          font-size: .1rem;
          color: #edd9de; }
      #app .wrap .content .bg {
        background: #ffffff;
        border-bottom: 1px solid #f1f1f1; }
        #app .wrap .content .bg div input {
          background: #dddddd; }
      #app .wrap .content section {
        flex: 1;
        background: #f5f5f5;
        overflow: auto;
        overflow-y: scroll; }
        #app .wrap .content section .banner {
          width: 100%;
          height: 1.4rem; }
          #app .wrap .content section .banner img {
            width: 100%; }
        #app .wrap .content section .newpeople {
          width: 100%; }
          #app .wrap .content section .newpeople img {
            width: 100%; }
        #app .wrap .content section .navlistbox {
          height: 1.3rem; }
          #app .wrap .content section .navlistbox .navlist {
            height: 1.3rem;
            display: flex;
            flex-wrap: wrap; }
            #app .wrap .content section .navlistbox .navlist li {
              width: 20%;
              text-align: center; }
              #app .wrap .content section .navlistbox .navlist li img {
                width: 46%; }
              #app .wrap .content section .navlistbox .navlist li p {
                color: #2e282a;
                font-size: .11rem;
                padding-top: .04rem;
                padding-bottom: .09rem; }
        #app .wrap .content section .tips {
          height: .37rem;
          padding: 0.05rem .08rem; }
          #app .wrap .content section .tips p {
            width: 100%;
            height: .26rem;
            background: #ffffff;
            border-radius: .15rem;
            padding: 0 .08rem;
            line-height: .26rem;
            font-size: .1rem;
            color: #656565; }
            #app .wrap .content section .tips p b {
              color: #1e1e1e; }
            #app .wrap .content section .tips p span {
              margin: 0 .05rem;
              color: #f44738; }
            #app .wrap .content section .tips p .red {
              color: #e7cec8;
              background: #ef1609;
              display: inline-block;
              width: .28rem;
              height: .13rem;
              line-height: .13rem;
              text-align: center;
              margin: 0; }
            #app .wrap .content section .tips p .grey {
              color: #a2a2a2; }
        #app .wrap .content section .miaosha .m_top {
          height: .3rem;
          line-height: .3rem;
          background: #ffffff;
          position: relative;
          padding-left: .04rem;
          color: #020202; }
          #app .wrap .content section .miaosha .m_top b {
            color: #e71137;
            font-size: .14rem; }
            #app .wrap .content section .miaosha .m_top b i {
              color: #cf4d55;
              padding: 0 .04rem; }
          #app .wrap .content section .miaosha .m_top .time {
            display: inline-block;
            height: .11rem;
            width: .12rem;
            background: #0f0f0f;
            line-height: .11rem;
            color: #bbbbbb;
            font-size: .1rem;
            margin: 0 .02rem; }
          #app .wrap .content section .miaosha .m_top .right {
            position: absolute;
            right: .1rem;
            color: #e15f71;
            font-size: .11rem; }
            #app .wrap .content section .miaosha .m_top .right i {
              margin-left: .1rem; }
        #app .wrap .content section .miaosha #wrapper {
          width: 100%;
          overflow: hidden; }
          #app .wrap .content section .miaosha #wrapper #scroller {
            width: 800px; }
            #app .wrap .content section .miaosha #wrapper #scroller .m_main {
              display: flex;
              padding-top: .05rem; }
              #app .wrap .content section .miaosha #wrapper #scroller .m_main .m_sub {
                width: 25%;
                margin: 0 2%;
                text-align: center; }
                #app .wrap .content section .miaosha #wrapper #scroller .m_main .m_sub img {
                  width: 100%; }
                #app .wrap .content section .miaosha #wrapper #scroller .m_main .m_sub p {
                  color: #d41707;
                  font-size: .11rem;
                  padding-top: .09rem;
                  padding-bottom: .03rem; }
                #app .wrap .content section .miaosha #wrapper #scroller .m_main .m_sub span {
                  color: #b3b3b3;
                  font-size: .1rem;
                  text-decoration: line-through; }
        #app .wrap .content section .classify {
          padding: .05rem;
          background: #ffffff; }
          #app .wrap .content section .classify > img {
            width: 100%;
            border-radius: .15rem; }
          #app .wrap .content section .classify .classify_find {
            display: flex;
            flex-wrap: wrap; }
            #app .wrap .content section .classify .classify_find .child {
              width: 50%;
              border-right: 1px solid #fafafa;
              border-bottom: 1px solid #fafafa; }
              #app .wrap .content section .classify .classify_find .child h3 {
                padding-top: .1rem; }
                #app .wrap .content section .classify .classify_find .child h3 img {
                  width: 50%;
                  padding-left: .1rem; }
              #app .wrap .content section .classify .classify_find .child p {
                color: #686868;
                font-size: .1rem;
                padding-left: .1rem; }
              #app .wrap .content section .classify .classify_find .child .imgs {
                display: flex;
                padding: .1rem; }
                #app .wrap .content section .classify .classify_find .child .imgs p {
                  flex: 1;
                  padding: .1rem; }
                  #app .wrap .content section .classify .classify_find .child .imgs p img {
                    width: 100%; }
        #app .wrap .content section .classify_find2 .child h3 {
          padding-left: .1rem;
          padding-bottom: .1rem; }
        #app .wrap .content section .classify_find2 .classify_find_box {
          display: flex; }
          #app .wrap .content section .classify_find2 .classify_find_box .classify_find_sub {
            flex: 1;
            border-right: 1px solid #fafafa;
            border-bottom: 1px solid #fafafa; }
            #app .wrap .content section .classify_find2 .classify_find_box .classify_find_sub h3 {
              padding-top: .1rem;
              padding-left: .1rem;
              padding-bottom: .1rem; }
            #app .wrap .content section .classify_find2 .classify_find_box .classify_find_sub p {
              color: #686868;
              font-size: .1rem;
              padding-left: .1rem; }
            #app .wrap .content section .classify_find2 .classify_find_box .classify_find_sub .imgs {
              padding: .1rem; }
              #app .wrap .content section .classify_find2 .classify_find_box .classify_find_sub .imgs img {
                width: 100%; }
        #app .wrap .content section .classify_find2 .classify-banner {
          width: 100%;
          height: .78rem; }
          #app .wrap .content section .classify_find2 .classify-banner img {
            width: 100%; }
        #app .wrap .content section .longImg img {
          width: 100%; }
        #app .wrap .content section .main {
          display: flex;
          flex-wrap: wrap; }
          #app .wrap .content section .main dl {
            width: 48%;
            display: inline-block;
            margin: 1%;
            background: #ffffff; }
            #app .wrap .content section .main dl dt {
              width: 100%; }
              #app .wrap .content section .main dl dt img {
                width: 100%; }
            #app .wrap .content section .main dl dd {
              padding: .04rem; }
              #app .wrap .content section .main dl dd p {
                line-height: .2rem; }
              #app .wrap .content section .main dl dd .tit {
                color: #525254; }
              #app .wrap .content section .main dl dd .price {
                color: #f12424; }
              #app .wrap .content section .main dl dd .bottom {
                font-size: .1rem;
                color: #b1b1b1;
                position: relative; }
                #app .wrap .content section .main dl dd .bottom span {
                  position: absolute;
                  width: .5rem;
                  height: .26rem;
                  border: 1px solid #e6e6e6;
                  line-height: .26rem;
                  text-align: center;
                  right: .05rem;
                  bottom: 0rem; }
    #app .wrap footer {
      height: .36rem;
      border-top: 1px solid #eef1f1; }
      #app .wrap footer ul {
        display: flex; }
        #app .wrap footer ul li {
          flex: 1;
          text-align: center;
          padding-top: .04rem; }
          #app .wrap footer ul li i {
            color: #6d7079; }
          #app .wrap footer ul li p {
            color: #777777;
            font-size: .1rem;
            padding-top: .02rem; }
        #app .wrap footer ul .active1 i {
          color: #f13030; }
        #app .wrap footer ul .active1 p {
          color: #f34344; }

/*# sourceMappingURL=style.css.map */
